# db
POSTGRES_USER=postgres            # ✅ Add this
POSTGRES_PASSWORD=1234
POSTGRES_DB=spliit               # ✅ Add this

# app
POSTGRES_PRISMA_URL=postgresql://postgres:1234@db:5432/spliit?schema=public
POSTGRES_URL_NON_POOLING=postgresql://postgres:1234@db:5432/spliit?schema=public